*{
    padding: 0;
    margin: 0;
    font-family: math;
    box-sizing: border-box;
}
.banner{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(3, 46, 3);
    color: #fff;
    z-index: 9999;
    position: relative;
}
nav{
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    position: sticky;
    background: #fff;
    top: -2px;
    left: 0;
    z-index: 999;
}

.logo{
    width: fit-content;
    height: auto;
}
.logo a{
    width: 100%;
    height: 100%;
}

.logo img{
    width: 200px;
    height: 60px;
    background-position: center;
    background-size: cover;
    aspect-ratio: 3/4;
}

nav ul, .icons{
    display: flex;
    width: fit-content;
    height: fit-content;
}

nav ul li,.icons li{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    list-style: none;
}

.icons li a i{
    color: #fff;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin: 0 14px;
}

nav a:hover{
    opacity: 0.6;
}

.menu{
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

}

.menu:hover{
    background: lightgray;
}
.menu h1{
    font-weight: 600;
}

.mobile-menu{
    width: 100%;
    height: 0;
    position: fixed;
    display: none;
    background: #ffffff;
    bottom: 0;
    left: 0;
    transition-duration: 0.5s;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}
.mobile-menu ul{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding: 14px;
}

.mobile-menu ul li {
    /* background: orange; */
    list-style: none;
    width: 100%;
    height: 40px;
    font-weight: 600;
}


.mobile-menu a{
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 5px;
    text-decoration: none;
    color: #333;
    /* width: 100%; */
    height: 100%;
}

.mobile-menu a:hover{
    background: lightgrey;
}

.mobile-menu-height {
    height: 50%;
    display: block;
    border-radius: 25px 25px 0 0;
}

.contact-hero{
    width: 100%;
    display: flex;
    height: 60vh;
    background-color: green;
}
.image{
    /* flex-basis: 50%; */
    width: 100%;
    height: 100%;

}
.image img,iframe{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
.contact{
    width: 100%;
    padding-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(2, 68, 2,0.5); */
    background: #fff;
}

.contact-form{
    margin-top: 10px;
    width: 80%;
    height: fit-content;
}
.contact-form p,.contact-form .icons i{
    color: #333;

}

.contact-form span i{
    font-size: medium;
    margin: 5px;
}

.form{
    display: flex;
    width: 100%;
    /* padding:0 20px; */
    flex-direction: column;
}

.map{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}
form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
form h3{
    margin: 10px;
}
form input{
    padding:2px 15px;
    height: 40px;
    font-size: medium;
    margin-bottom: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid rgb(116, 115, 115);
    background: lightgray;
}
form button{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #333;
    color: #fff;
    background: green;
    cursor: pointer;
    font-size: medium;
    margin:15px 15px 25px;
    padding: 10px;
}
form button h4{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form button i{
    font-size: smaller;
}

.whatsapp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: green;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px #252525;
}

.whatsapp a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp i{
    font-size: xx-large;
}

footer{
    background: rgb(3, 46, 3);
    color: #fff;

}

footer .icons{
    margin: auto;
}

footer .f-logo{
    text-align: center;
    margin: 20px;
}

hr{
    background-color: #fff;
}

.links{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    padding: 20px 0;
    flex-wrap: wrap;
}
.f-cont{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.f-cont p{
    color: #fff;
}

#title{
    display: block;
}
.f-cont span{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .f-cont i{
    color: yellow;
} */

footer ul li{
    list-style: none;
}
footer ul li a{
    color: #fff;
    text-decoration: none;

}

@media(max-width:900px){
    .banner span{
        display: none;
    }
    .navlink{
        display: none;
    }
    .contact-form{
        width: 95%;
    }
    .form{
        padding:5px 0;
    }
    form{
        width: 90%;
    }
    .menu{
        display: flex;
    }
    
}
@media(min-width:10px) and (max-width:300px) {
    nav{
        padding: 0;
        height: 30px;
    }
    .logo h1{
        font-size: small;
    }
    .mobile-menu a{
        font-size: xx-small;
    }
    .mobile-menu ul li {
        height: 13px;
    }
    #title{
        font-size: medium;
    }
    .contact-form p{
        word-wrap: break-word;
    }
}